@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
.title h1 {
  color: rgb(39, 39, 39);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  padding: 5rem;
  font-size: 2rem;
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

@media screen and (max-width: 768px) {
  .main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 40px;
  }
}
